

body {
    padding: 3%;
    background-color: black;
}

html, body{
    width:97%;
  }
  

    p {
        padding: 0;
        margin: 0;
     
    }


.showButton{
    background: transparent;
    color: white;
    border: none;
    outline: none;
    margin-bottom: 30px;
    margin-right: 50px;
    cursor: pointer;
}

.borderClass{
border-bottom: 1px solid yellow ;
padding: 0;
}

.popUpClass{

 display:none;
 border: 1px solid red;
 color: green;
 z-index: 999;
}

.card{
    width: 18%;
    padding: 0;
    margin: 0;
    margin-bottom: 4%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}


.headTittle{
    color:white;
    font-size: 200%;
}

.db{
    color:yellow;
}

.headerDisplay{
display:flex;
justify-content: space-between;
    padding: 2%;
}

.genre{
    background-color: #808080d1;
    padding: 8px;
    border-radius: 12px;
}

.genreLarge{

    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    justify-content: space-evenly;
}

.cardUl{
    outline: solid yellow 3px;
}

.imgWidth{
    width: 20%;
    border-left: solid 2px;
    border-top: solid 2px;
    border-bottom: solid 2px;
}


.buttonDiv {
    padding: 2%;
}